body {
  background: #FFF url(/images/body.jpg); }

.round {
  background: #e3e3e3;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

a.signin_button {
  text-decoration: none;
  margin: 300px auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #0095c3;
  font-size: 150%;
  font-weight: bold;
  padding: 20px; }

.save_btn {
  margin: 15px 0 10px 10px; }

h3 {
  text-align: center;
  text-decoration: underline;
  padding-top: 12px; 
  color: #333 }

hr {
  border-bottom: dotted 1px #454545; }
/*
 * --- Header --- */
#header {
  margin-top: 30px;
  height: 75px; }

#header .profil_img a { 
  padding: 0;
  margin: 12px 0 0 25px;
/*  margin-bottom: 10px;*/ }

#header .profil_img a:hover {
  margin: 12px 0 0 25px;
  padding: 0; }

#header ul {
  display: block;
  padding: 0;
  list-style: none; }

#header ul a {
  text-decoration: none;
  display: block;
  font-size: 1.1em;
  margin: 12px 0 0 10px;
  padding: 15px 5px;
  color: #454545; }

#header ul a:hover {
  display: block;
  padding: 15px 5px;
  list-style-type: none;
  color: #ddd;
  text-shadow: 0 1px 0 black;
  background: #555;
  background: -moz-linear-gradient(top, #444, #555);
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#555)); }

#header li {
  color: #333;
  margin-left: 5px;
  float: left; }

#header img {
  float: left; }
/*
 * --- Content --- */
#content {
  margin-top: 20px }

#content ul {
  float: left;
  list-style: none; }

#content li {
  height: 65px; padding: 10px 10px 10px 10px;
  border-bottom: dotted 1px #454545;
  margin-right: 20px;
  color: #454545;
  font-size: 1.3em; } 

#content img {
  padding: 5px 10px 5px 5px;
  float:left;   }

#content a.external {
  color: #333;
  text-decoration: none;
  background:url(/images/external.png) 99% 40% no-repeat; 
  padding-right: 15px; }

#content a:hover {
  color: #333;
  text-decoration: underline; }

#content dl {
  margin: 35px 0 395px 60px;
  font-size: 1.2em; }

#content dt {
  font-weight: normal;
  float: left; }

#content dd {
  margin-left: 120px; }
/*
 * --- Sidebar --- */
#sidebar {
  margin: 20px 0 0 0px; }

#sidebar ul {
  display: block;
  list-style: none; }

#sidebar ul a {
  display: block;
  overflow: hidden;
  padding: 10px 0 10px 20px;
  color: #454545;
  font-size: 1.4em;
  text-decoration: none; }

#sidebar ul a:hover {
  display: block;
  padding: 10px 0 10px 20px;
  list-style-type: none;
  color: #ddd;
  text-shadow: 0 1px 0 black;
  background: #555;
  background: -moz-linear-gradient(top, #444, #555);
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#555)); }
/*
 * --- Footer --- */
#footer p {
  padding: 10px 0 0 290px;
  color: #CCC; }

#footer a {
  color: #CCC;
  text-decoration: none; }
