%div{ :id => "sidebar", :class => "span-6 round last"}
  %h3 Trends in Germany
  %ul
    - client.local_trends(23424829).each do |key|
      %li
        - if /^\#/ =~ key
          = link_to "#{key}", trend_path(key[1..-1])
        - else
          = link_to "#{key}", trend_path(key)
